<body>
  <h1>New Game</h1>
  <%= @letters %>
  <p>What is the longest word you can find?</p>
  <form action="/score" method="post">
    <input type="text" name="word" placeholder="Your word">
    <input type="submit" value="Ask!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @letters %>
  </form>
</body>
